button {
    border:0;
    background-color: $clr3;
    color:$clr4;
    padding: 5px 10px;
    margin: 5px;
    border-radius:20px;
    width: max-content;
    transition: background-color .3s;
    &:hover{
        background-color: rgba(92, 138, 115, 0.664);
    }
}

form > * {
    display: block;
    width: 200px;
    margin: 10px 0px;
}