button {
    border:0;
    background-color: $clr2;
    color:whitesmoke;
    padding: 5px 10px;
    margin: 5px;

    &:hover{
        background-color: $clr3;
    }
}

form > * {
    display: block;
    width: 200px;
    margin: 10px 0px;
}