// Colors

$clr1: #b5ddfd;
$clr2: #505050;
$clr3: #5c8a73e5;
$clr4: #f5f5f5;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1280px;
$wide-breakpoint: 1580px;

