.adresses-table {
    .table-base {
        width: 100%;
    }

    table,
    th,
    td {
        border: 1px solid rgba(187, 187, 187, 0.671);
        border-collapse: collapse;
        text-align: center;
    }
    td{
        height:2.5rem
    }   
    tr:nth-child(odd) {
        background-color: rgb(240, 240, 240);
    }
    tr:first-child{
font-weight: 600;
    }
}
