footer{
    background-color: rgba(28, 26, 29, 0.89);

    .footer-container{
        height:7rem;
        color:whitesmoke;
        font-family:'roboto';

        .copyrights{
            margin-inline-end: 2rem;
        }

        .icons{ 
            gap:1rem;
            & > *:hover{
// transform: ;
            }
        }
    }
}